html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9800;
}

main {
    flex: 1;
}

.hero {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #555;
}

.products {
    padding: 20px;
    text-align: center;
}

.products h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
    transition: box-shadow 0.3s;
}

.product-item img {
    width: 100%;
    height: auto;
}

.product-item h3 {
    font-size: 20px;
    margin: 10px 0;
}

.product-item p {
    font-size: 16px;
    color: #555;
}

.product-item button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-item button:hover {
    background-color: #ff9800;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .product-item {
        width: 100%;
        max-width: 300px;
    }
}

.hidden {
    display: none;
}


.product-item button:active {
    transform: scale(0.95); /* уменьшаем кнопку при активации */
    background-color: #f57c00; /* изменяем цвет фона при активации */
}

.cart-badge {
    position: relative;
    display: inline-block;
    background-color: #4CAF50; /* Цвет фона кружка */
    color: white;
    font-size: 12px;
    padding: 4px 8px; /* Отступы внутри кружка */
    border-radius: 50%; /* Делаем кружок круглым */
    top: -10px; /* Поднимаем кружок над текстом */
    right: -10px; /* Выравниваем кружок по правому краю */
}
